body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFD8F;
    font-size: 20px;

    ::selection {
        background-color: #ff25a1;
        color: #ffff;
    }
}

.form-control:focus {
    box-shadow: 0 0 4px 0.25rem #c4097366;
    border-color: #c40973;
}

.text-head {
    font-size: 100px;
    font-family: 'Amatic SC';
    font-weight: 900;
    /* color: ; */
    position: relative;
    display: inline-block;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    margin-bottom: 80px;
}

.text-head::after {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    background: #B0CE88;
    /* inset: 0; */
    left: 0;
    bottom: 0%;
    z-index: -1;
    transition: height 400ms;
    border-radius: 2px;
}

.text-head:hover.text-head::after {
    height: 65%;
}


.section-1>h2 {
    font-family: "Righteous", cursive;
    color: #0ba13a;
}

section>h2 i {
    color: #c40973;
}

.section-1 form button {
    text-align: center;
    background-color: #c40973;
    width: 150px;
    /* height: 40px; */
    font-size: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 400ms;

}

.section-1 form button:hover {
    background-color: #ff0191;
}





.table {
    background-color: #a1ed84 !important;
    --bs-table-bg-type: #7feb54;
}

.table th {
    width: 2%;
    text-align: center;
    padding: 10px;
}

.table td {
    width: 2%;
    text-align: center;
    padding: 10px;

}


.section-2 {
    border-left: 2px dashed #c40973;

}

@media (max-width: 992px) {
    .section-2 {
        border-left: 0px;
        border-top: 2px dashed #c40973;
        padding-top: 20px !important;
    }
}